Source: libdebouncedinput
Section: libraries
Priority: extra
XBSC-Group: IO
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdebouncedinput
Provides: DebouncedInput.h
Architecture: all
Description: Debouncing Input class
